<header class="navbar">
  <div class="navbar-first-row">
    <div class="navbar-title">
      <a href="#">Resource Wall</a>
    </div>
    <div class="navbar-account">
      <a href="/login" class="navbar-login">Login</a>
      <a href="/register" class="navbar-register">Register</a>
    </div>
  </div>
  <div class="navbar-second-row">
    <div class="navbar-categories">
      <a href="#" data-category="all">All</a>
      <% categories.forEach(category => { %>
        <a href="#" data-category="<%= category.id %>"><%= category.name %></a>
      <% }); %>
    </div>
  </div>
  <div class="navbar-third-row">
    <input type="text" class="navbar-search" placeholder="search">
    <button type="submit" class="navbar-more">➕</button>
  </div>
  <div class="error-message" style="display: none;"></div>
</header>
