.details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  background-color: #13124F;
  border-radius: 10px;
  padding: 30px;
  width: 700px;
  height: auto;
  color: white;
}

.details-img {
  display: flex;
}

.details-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.details-like {
  display: flex;
  align-items: center;
  color: #BFBEEA;
}

.details-like img {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  margin-left: 10px;
}

.details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-title {
  font-weight: bold;
  font-size: 20px;
  color: #ABD9D9;
  text-align: center;
  margin: 10px 0px;
}

.details-description {
  margin: 10px;
  font-size: 18px;
  font-weight: 400;
}

.details-user-info {
  margin: 10px;
  margin-top: 30px;
}

.details-user-info span {
  color: #8D8DDA;
}

.details-user-info p {
  margin: 5px 0px;
}

.details-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-rate-stars {
  display: flex;
  margin: 0;
  margin-left: 6px;
  font-size: 18px;

}

.detail-rate-name {
  font-size: 22px;
  margin: 5px 0px;
}

.details-rate-stars p {
  margin-right: 5px;
  margin-top: 0;
}

.details-rate-stars p:hover {
  opacity: 0.5;
}

.details-comment {
  margin: 10px;
}

.details-comment p {
  font-size: 22px;
  margin-bottom: 11px;
  margin-top: 15px;
}

.details-comment-box {
  background-color: #13124F;
  border: 1px solid white;
  border-right: #BFBEEA;
  border-radius: 5px;
  width: 550px;
  padding: 10px 14px;
  color: white;
}

.comment-btn {
  padding: 11px 20px;
  margin-left: -8px;
  background: #BFBEEA;
  color: white;
  font-weight: bold;
}

.comment-btn:hover {
  opacity: 0.9;
}

.user-comment {
  display: flex;
  flex-direction: column;
  background-color: #8D8DDA;
  margin: 8px;
  width: 560px;
  padding: 20px;
  border-radius: 15px;
}

.user-comment-info {
  display: flex;
  justify-content: space-between;
}

.user-detail-comment {
  margin-bottom: 0;
  color: #000235;
  font-weight: 600;
}
