main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #8D8DDA;
  padding: 30px;
  width: 600px;
  height: 750px;
}

.edit label {
  color: #000235;
  font-weight: 500;
}

.edit-title {
  margin-bottom: 15px;
  position: relative;
}

.edit-title h1 {
  margin-bottom: 0;
}

.edit p {
  margin-top: 0;
  margin-bottom: 45px;
}

.edit-title p {
  position: absolute;
  right: 16px;
  top: 0px;
}

.edit-title p:hover {
  opacity: 0.5;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-input {
  margin-top: 20px;
  margin-bottom: 35px;
  border-style: hidden;
  border-bottom: 3px solid white;
  background-color: #8D8DDA;
  color: #000235;;
  outline: none;
}

.img-upload-btn {
  margin-top: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  width: 250px;
  margin: 60px;
  padding: 10px 7px;
  background-color: #000235;
  border-radius: 20px;
  border: none;
  color: white;
}

.edit-btn:hover {
  opacity: 0.5;
}
