main {
  margin: 5%;
}

main h3 {
  text-align: center;
}
.resource {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.resource-container {
  margin: 3%;
  display: flex;
  align-items: center;
  transition: transform .2s ease;
}

.resource-container :hover {
  transform: scale(1.05);
}

section > * {
  margin: 1em 0;
}

.resource-content {
  position: relative;
}

.resource-image {
  height: 400px;
  width: 200px;
  border-radius: 25px;
}

.resource-like {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 10%;
}

.resource-like:hover {
  transform: scale(1.05);
  cursor: pointer;
}
