.resource {
  display: flex;
  flex-wrap: wrap;
}
.resource-container {
  background-color: #13124F;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  height: auto;
  color: white;
}

/************* FIRST ROW ************/

.resource-content {
  display: flex;
  position: relative;
}

.resource-img {
  width: 100%;
  height: auto;
  background-color: #BFBEEA;
  border-radius: 10px;
}

.resource-like {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
}

.resource-like:hover {
  opacity: 0.5;
}

/************* SECOND ROW ************/

.resource-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-title {
  font-weight: bold;
  font-size: 18px;
  color: #ABD9D9;
}

.resource-description {
  margin: 0;
}

/************* THIRD ROW ************/

.resource-user-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #ABD9D9;
}

/************* FOURTH ROW ************/

.resource-ratings {
  display: flex;
  justify-content: center;
}

.resource-ratings p {
  margin: 5px;
  margin-bottom: 20px;
}

// Need to implement Rating System
.resource-ratings p:hover {
  opacity: 0.5;
}

/************* FIFTH ROW ************/

.resource-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
}

.resource-links span {
  font-size: 10px;
}

.resource-visit-btn {
  background-color: #8D8DDA;
  padding: 5px 30px;
  border-radius: 20px;
}

.resource-visit-btn:hover {
  opacity: 0.5;
}

.resource-more-btn {
  border: 2px solid #8D8DDA;
  padding: 5px 25px;
  border-radius: 20px;
}

.resource-more-btn:hover {
  opacity: 0.5;
}


/* Mobile-friendly media query */
@media (max-width: 768px) {
  .resource-container {
    width: 250px;
  }

  .resource-visit-btn {
    padding: 5px 20px;
  }

  .resource-more-btn {
    padding: 5px 15px;
  }
}
